body{
    background: #ffffff;
    background: -moz-radial-gradient(circle at center center,  #f8e2da 0%, #d7f1f7 100%);
    background: -webkit-gradient(radial, left top, right bottom, color-stop(0%,#f8e2da), color-stop(100%, #d7f1f7));
    background: -webkit-radial-gradient(circle at center top,  #f8e2da 0%,#d7f1f7 100%);
    background: -o-radial-gradient(circle at center top,  #f8e2da 0%,#d7f1f7 100%);
    background: -ms-radial-gradient(circle at center top,  #f8e2da 0%,#d7f1f7 100%);
    background: radial-gradient(circle at center center,  #f8e2da 0%,#d7f1f7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8e2da', endColorstr='#d7f1f7',GradientType=0);
}
.gradient{
    background: #ffffff;
    background: -moz-radial-gradient(circle at center center,  #f8e2da 0%, #d7f1f7 100%);
    background: -webkit-gradient(radial, left top, left top, color-stop(0%,#f8e2da), color-stop(100%, #d7f1f7));
    background: -webkit-radial-gradient(circle at center top,  #f8e2da 0%,#d7f1f7 100%);
    background: -o-radial-gradient(circle at center top,  #f8e2da 0%,#d7f1f7 100%);
    background: -ms-radial-gradient(circle at center top,  #f8e2da 0%,#d7f1f7 100%);
    background: radial-gradient(circle at center top,  #f8e2da 0%,#d7f1f7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8e2da', endColorstr='#d7f1f7',GradientType=0);
}
:root .gradient{filter:none;}
.header{
    position: fixed;
    width: 100%;
    text-align: center;
}
.logo{
    text-align: center;
    margin-top: 4rem;
}
.talk-btn{
    margin: 1rem auto 0 auto;
    width: 8rem;
}
.talk-send-box{
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #ffffff;
}
.talk-send-box #sending{
    position: absolute;
    left: 1rem;
    top: 2px;
    font-size: 12px;
    color: #cccccc;
}
.talk-send-input{
    padding: 0 1rem;
    position: relative;
}
.talk-send-input input{
    padding: 0.5rem;
    border: 1px solid #03a9f4;
}
.talk-unlink-btn{
    cursor: pointer;
    background: #e51c23;
    width: 100%;
    text-align: center;
    padding: 0.5rem 0;
    color: #ffffff;
}
.talk-send-btn{
    cursor: pointer;
    background: #03a9f4;
    width: 100%;
    text-align: center;
    padding: 0.5rem 0;
    color: #ffffff;
}
.aui-tips{
    position: absolute;
    top: 0;
}
.talk-list{
    margin: 0 auto 4.8rem auto;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    width: 80%;
}
.talk-status{
    text-align: center;
    margin-top: 0.5rem;
    font-size: 12px;
}
.talk-status div.status-0{
    color: #333333;
}
.talk-status div.status-1{
    color: #03a9f4;
}
.talk-status div.status-2{
    color: #e51c23;
}